main {
    width: 1200px;
    margin: auto;
    background-color: var(--tertriary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#main {
    margin-top: 10px;
}

#nav nav ul {
    list-style: none;
}

#nav nav ul li {
    display: inline;
    margin: 0 10px;
}

#nav a {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    cursor: pointer;
}

#nav ul a::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.2s ease-in-out;
}

#nav ul a:hover::after {
    transform: scaleX(1);
}

#card {
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

#card div {
    height: 200px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
}

#card div h3 {
    color: wheat;
    text-shadow: var(--box-shadow);
}

#card div img {
    height: auto;
    width: 250px;
}

#card div a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    cursor: pointer;
}

#card div a::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.2s ease-in-out;
}

#card div a:hover::after {
    transform: scaleX(1);
}