nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: auto;
}

nav h1 {
    margin: 0;
    color: #343a40;
    font-weight: bold;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}